#ARM11 Compiled file 
*.elf
*.o

#Compiled directory
/Build
/build

#3ds game plugin
*.3gx

#nm symbols
*.lst

#include files list (ignore system files)
*.d

#Options---------------------------------------------
#IP Address and port number for ftpd.py
IP_PORT.txt